<h2>Home</h2>

<form class="project_form" action="/projects" method="post">
  <label for="title">Name of Project:</label>
  <input type="text" name="title">
  <button type="submit" name="button">Create Project</button>
</form>



<a href="/projects">View Projects</a><br>
<a href="#">View Volunteers</a><br>
