<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Volunteer Tracker</title>
  </head>
  <body>
    <div class="top_bar">
      <a href="/">Home</a>
    </div>
    <div class="jumbo">
      <h1 class="txt_big">Volunteer Tracker</h1>
    </div>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
