<h2><%= @project.title %></h2>

<% volunteers = @project.volunteers %>
<% if volunteers.any? %>
<p>Volunteers</p>
<ul>
  <% volunteers.each do |volunteer| %>
  <li>
    <p>Edit: <a class="volunteer_link" href="/volunteers/<%= volunteer.id %>/edit"><%= volunteer.name %></a></p>
    <br>
  </li>
  <% end %>
</ul>
<% else %>
<p>There are currently no volunteers to display</p>
<% end %>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a><br>

<a href="/">Back</a>
