<h2 class="title_text">View Project: <%= @project.title %></h2>


<% volunteers = @project.volunteers %>
<% if volunteers.any? %>
<p>Volunteers</p>
<ul>
  <% volunteers.each do |volunteer| %>
  <li>
    <a class="volunteer_link" href="/volunteers/<%= volunteer.id %>/edit"><%= volunteer.name %></a>
    <br>
  </li>
  <% end %>
</ul>
<% else %>
<p>There are currently no volunteers to display</p>
<% end %>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a><br>

<a href="/">Back</a>
