.top_bar {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.jumbo {
  background-color: rgb(50,50,50);
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1%;
  border: 4px rgb(0,50,155) solid;
  border-radius: 10px;
}

.container {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 5%;
  margin-top: 2%;
  background-color: rgb(50,50,50);
  border: 4px rgb(0,50,155) solid;
  border-radius: 10px;
}

.txt_big {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}

.project_title {
  color: white;
  margin-top: 0;
  font-size: 30px;
}
.project_lister {
  list-style-type: none;
}
.project_box {
  border: 2px purple solid;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-column-gap: 50px; */
  /* background-color: blue; */
  width: 100%;
}

.left_col {
  background-color: red;
  float: left;
  width: 20%;
}
.right_col {
  background-color: green;
  float: left;
  width: 80%;
}

.no_top_txt {
    margin-top: 0;
}

body {
  background-color: rgb(20,20,20);
  color: rgb(255,150,0);
}

a {
  color: white;
}

li {
  width: 100%;
}
